#filter {
  background: $grey;
  width: 30%;
  max-width: 300px;
  
  .inside{
    padding: 20px;
    max-width: 300px;
  }
  h4{
    margin-bottom: 25px;
    font-weight: 700px;
    font-size: .9rem;
    text-transform: uppercase;
  }
  select{
    background: tranparent;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: $almostblack;
    display: block;
    margin-bottom: 25px;
    width: 100%;
  }
  .filter{
    .title{
      font-size: 0.9rem;
      display: block;
      margin-bottom: 1rem;
      color: $darkgrey;
    }
    input[type="text"]{
      border-radius: 3px;
      width: 45%;
      font-size: 1rem;
      padding: 0.4rem;
      display: inline-block;
      margin-right: 2.5%;
      margin-bottom: 1rem;
    }
    &.extras{
      label{
        display: block;
        input[type="checkbox"]{
          float: right;
        }
      }
    }
  }
}

