$darkpurple: #0C002B;
$pink: #c2425c;
$pink2: #bb2946;
$almostblack: #1B1B1B;
$verydarkgrey: #4b4b4b;
$darkgrey: #828d9d;
$lightgrey: #dadde2;
$bluegrey: #cdd4ec;
$lightgrey2: #dae2ef;
$grey: #eff1f5;
$softwhite: #FEFE11;
$offwhite: #FEFEFF;
$green: #0a3804;